CLOUDINARY_CLOUD_NAME=hs46tgyf
CLOUDINARY_API_KEY=371799876127983
CLOUDINARY_API_SECRET=i7HL2opdFPaN_7XVAIxnaVlCBAQ
MONGODB_URI=mongodb+srv://admin_1:GYC56cyym0zQ08w5@cluster0.ra4u8vn.mongodb.net/portfolio?retryWrites=true&w=majority
JWT_SECRET=$(node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")
SENDGRID_API_KEY=YOUR_SENDGRID_API_KEY
EMAIL_FROM=no-reply@yourdomain.com
NODE_ENV=production
PORT=5000
